#cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
}

.card {
    flex: 1;
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    max-width: 400px;
    min-width: 300px;
    flex-direction: column;
    background: #fff;
    margin: 5px;
}

.card img {
    width: 15%;
    height: auto;
    margin: 10px;
    max-height: 25%;
}

.card-title{
    font-size: 1em;
    padding: 10px;
    background: #fff;
}
.card-text{
    font-size: 1em;
    padding: 10px;
    min-height: 100px;
    max-height: 100px;
    background: #fff;
}

#web{
    background-color: #ffded4;
    border-radius: 10px;
    padding: 5px;
}

#pc{
    background-color: #ffedd4;
    border-radius: 10px;
    padding: 5px;
}

#cel{
    background-color: #d4efff;
    border-radius: 10px;
    padding: 5px;
}